@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}
.container {
  width: 100%;
  margin: 1em auto;
}
.grid {
  display: grid;
  margin-left: 0.5px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.2em;
  justify-content: center;
}

@media (max-width: 765px) {
  .grid {
    display: grid;
    margin-left: 0.5px;
    grid-template-columns: repeat(2, 0.5fr);
    grid-gap: 0.2em;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .grid {
    display: grid;
    margin-left: 0.5px;
    grid-template-columns: repeat(1, 0.5fr);
    grid-gap: 0.2em;
    justify-content: center;
  }
}
